/* Un seul X au hasard */
.vitrine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.vitrine-item:not(:last-child) {
  margin-right: 20px;
}

.vitrine-item {
  width: 18em;
  margin: 10px;
}

.vitrine-inner-item {
  padding: 10px;
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px #f2a939;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.vitrine-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #444;
  font-family: sans-serif;
  border-bottom: 1px solid #f2a939;
}

.vitrine-buttons > a {
  text-decoration: none;
}

.vitrine-avatar {
  width: 64px;
  height: 64px;
  min-width: 64px;
  margin-right: 10px;
  float: left;
}

a.vitrine-name {
  text-decoration: none;
  color: #f17361;
  font-weight: 700;
  line-height: 80%;
}

.vitrine-content {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.vitrine-description > p {
  margin: 0;
  padding: 0;
  text-align: justify;
  text-justify: auto;
}

.vitrine-text {
  margin-top: 5px;
}

/* Plusieurs X au hasard */
.vitrines {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vitrine-column {
  display: flex;
  flex-direction: column;
}

.vitrine-column h3 a {
  text-decoration: none;
}
