<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Quelques groupes…</title>


  </head>
  <body>
      <h1>Quelques groupes</h1>
      <p>Ces groupes sont donnés dans un ordre aléatoire <button onclick="randomizeHTMLlist('selection')">🎲</button>.</p>
      <p>L'un d'entre eux manque ? <a href="TODO">Signalez-le nous</a> pour l'ajouter.</p>
      <p>Voir <a href="{{ URL }}/explore/groups">tous les groupes</a>

      {% from "list.html" import pagelist %}
      {{ pagelist(SELECTION, URL) }}
      <script src="random.js"></script>
      <script>
        randomizeHTMLlist("selection");
      </script>
  </body>
</html>
