{% macro pagelist(selection, url) %}
    <ul id="selection">
        {% for item in selection %}
        <li>
            <a href="{{ url }}/{{ item.path }}">{{ item.name }}</a> : {{ item.description}}
        </li>
        {% endfor %}
    </ul>
{% endmacro %}
