<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Quelques personnes…</title>


  </head>
  <body>
      <h1>Quelques personnes</h1>
      <p>Ces personnes sont listées dans un ordre aléatoire <button onclick="randomizeHTMLlist('selection')">🎲</button>.</p>
      <p>L'une d'entre elle manque ? <a href="TODO">Signalez-le nous</a> pour l'ajouter.</p>

      {% from "list.html" import pagelist %}
      {{ pagelist(SELECTION, URL) }}
      <script src="random.js"></script>
      <script>
        randomizeHTMLlist("selection");
      </script>
  </body>
</html>
